<% query = params[:term] %><br>
<% $increment = 0 %>
<form method="get" action="<% link_to movies_path %>" class="form-inline">
<div class="row" style="margin-bottom: 10px;">
		<div class="col-xs-3">
    	<div class="form-group">
		<button class="btn btn-primary" disabled style="margin-left: 10px;">Quality</button>
		<select name="quality" class="custom-select">
			<option>All</option>
			<option value="720p">720p</option>
			<option value="1080p">1080p</option>
		</select>
		</div>
		</div>
		<div class="col-xs-3">
    	<div class="form-group">
		<button class="btn btn-primary" disabled style="margin-left: 10px;">Rating</button>
		<select name="minimum_rating" class="custom-select">
			<option value="9" <% if @minimum_rating == "9" %> selected <% end %> >9+</option>
			<option value="8" <% if @minimum_rating == "8" %> selected <% end %> >8+</option>
			<option value="7" <% if @minimum_rating == "7" %> selected <% end %> >7+</option>
			<option value="6" <% if @minimum_rating == "6" %> selected <% end %> >6+</option>
			<option value="5" <% if @minimum_rating == "5" %> selected <% end %> >5+</option>
			<option value="4" <% if @minimum_rating == "4" %> selected <% end %> >4+</option>
			<option value="3" <% if @minimum_rating == "3" %> selected <% end %> >3+</option>
			<option value="2" <% if @minimum_rating == "2" %> selected <% end %> >2+</option>
			<option value="1" <% if @minimum_rating == "1" %> selected <% end %> >1+</option>
		</select>
		</div>
		</div>
		<div class="col-xs-3">
    	<div class="form-group">
		<button class="btn btn-primary" disabled style="margin-left: 10px;">Sort by</button>
		<select name="sort_by" class="custom-select">
			<option <% if @sort_by == "date_added_lastest" %> selected <% end %> value="date_added_lastest" >Lastest added</option>
			<option <% if @sort_by == "date_added_oldest" %> selected <% end %> value="date_added_oldest">Oldest added</option>
			<option <% if @sort_by == "seeds" %> selected <% end %> value="seeds">Seeds</option>
			<option <% if @sort_by == "peers" %> selected <% end %> value="peers">Peers</option>
			<option <% if @sort_by == "year_lastest" %> selected <% end %> value="year_lastest">Lastest movies</option>
			<option <% if @sort_by == "year_oldest" %> selected <% end %> value="year_oldest">Oldest movies</option>
			<option <% if @sort_by == "rating" %> selected <% end %> value="rating">Rating</option>
			<option <% if @sort_by == "title" %> selected <% end %> value="title">Title</option>
		</select>
		</div>
		</div>
		<div class="col-xs-3">
		<button class="btn btn-success" style="margin-left: 10px;">Submit</button>	
		</div>
	</div>
</form>
<div class="container" id="moviesGallery">
	<div class="row" id="content">
		<%= render partial: 'movie', collection: @movies %>
	</div>
</div>

<input type="hidden" id="currentPage" value="<%= @current_page %>" />
<input type="hidden" id="totalPages" value="<%= @total_pages %>" />

<% unless @current_page.to_i == @total_pages.to_i %>
	<p id="view-more">
		<%= link_to('View More', url_for(page: @current_page.to_i + 1, minimum_rating: params[:minimum_rating], sort_by: params[:sort_by], quality: params[:quality]), class: 'btn btn-primary', remote: true) %>
	</p>
<% end %>

<script type="text/javascripts" >
	//var rating = $( "#minimum_rating option:selected" ).text();

	//alert(rating);
	// $("#minimum_rating").change(function(){
	// 	$("#minimum_rating").selected = $(this).val()
	// 	 alert('Selected value: ' + $(this).val());
	// });
</script>
