<% query = params[:term] %><br>
<form method="get" action="<% link_to movies_path %>">
	<div class="select-container">
		<p>Quality</p>
		<select name="quality" class="custom-select">
			<option>All</option>
			<option value="720p">720p</option>
			<option value="1080p">1080p</option>
		</select>
		<p>Rating</p>
		<select name="rating" class="custom-select">
			<option value="0">All</option>
			<option value="9">9+</option>
			<option value="8" selected>8+</option>
			<option value="7">7+</option>
			<option value="6">6+</option>
			<option value="5">5+</option>
			<option value="4">4+</option>
			<option value="3">3+</option>
			<option value="2">2+</option>
			<option value="1">1+</option>
		</select>
		<p>Sort by</p>
		<select name="sort_by" class="custom-select">
			<option value="">Any</option>
			<option value="date_added" selected>Lastest</option>
			<option value="date_added">Oldest</option>
			<option value="seeds">Seeds</option>
			<option value="peers">Peers</option>
			<option value="year">Year</option>
			<option value="rating">Rating</option>
			<option value="title">Title</option>
		</select>
		<button class="btn btn-primary">Submit</button>
	</div>
</form>

<div class="container">
	<div class="row" id="content">
		<%= render partial: 'movie', collection: @movies %>
	</div>
</div>
<input type="hidden" id="currentPage" value="<%= @current_page %>" />
<input type="hidden" id="totalPages" value="<%= @total_pages %>" />
<% unless @current_page.to_i == @total_pages %>
	<p id="view-more">
		<%= link_to('View More', url_for(page: @current_page.to_i + 1), class: 'btn btn-primary', remote: true) %>
	</p>
<% end %>