#container {
	width: 50%;
	margin: 0 auto;
	text-align: center
}

.style_image {
	width: 200px;
}

#oauth {
	width: 400px;
	margin: 0 auto;
	text-align: center
}

#login {
	width: 400px;
	margin: 0 auto;
	margin-bottom: 5px;	
	text-align: center
}

#login1 {
	width: 400px;
	margin: 0 auto;
	text-align: center
}

#logout {
	margin-top: 5px;
	margin-bottom: 5px;
}